.button {
  margin: 64px;
  margin: 200px;
  height: 50px;
  line-height: 25px;
  color: white;
  background-color: coral;
  border-radius: 4px;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.button:hover {
  color: darkcyan;
}

.button:hover > .svg-image {
  fill: green;
}

.svg-image {
  width: 32px;
  height: 32px;
  fill: white;
  vertical-align: middle;
}

